<div class="about-us-container">
  <div class="team-member">
    <img src="assets/360_F_319391402_WiNQIWlvPBmOOXeAyM9J3PmiM7QqpKcC.jpg" alt="Member 1" class="member-photo">
    <mat-card class="member-card">
      <mat-card-header>
        <mat-card-title>GOPIKA</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Position: Front end dev</p>
        <p>Details:GOPIKA is a skilled front-end developer with a passion for creating visually stunning and user-friendly web interfaces. She excels at turning complex designs into fully functional, responsive websites.</p>

      </mat-card-content>
    </mat-card>
  </div>
  <div class="team-member">
    <img src="assets/360_F_383258331_D8imaEMl8Q3lf7EKU2Pi78Cn0R7KkW9o.jpg" alt="Member 2" class="member-photo">
    <mat-card class="member-card">
      <mat-card-header>
        <mat-card-title>SHRADDHA</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Position: SWE</p>
        <p>Details:SHRADDHA is a dedicated software engineer specializing in building robust and scalable backend systems. Her expertise lies in writing clean, efficient code that powers seamless digital experiences..</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="team-member">
    <img src="assets/360_F_686689704_pjJi5cmexPZZYpnVIptUe0UNuoKsOL7D.jpg" alt="Member 3" class="member-photo">
    <mat-card class="member-card">
      <mat-card-header>
        <mat-card-title>JEWEL</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Position: Social Media Manager</p>
        <p>Details:JEWEL is a creative social media strategist who brings brands to life online. She has a knack for crafting engaging content and building strong online communities through effective social media campaigns.</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
