<div class="home-background">
  <div class="home-container">
    <mat-card class="welcome-card">
      <mat-card-header>
        <mat-card-title>--Welcome to BookWorld--</mat-card-title><br>
      </mat-card-header><br>
      <mat-card-content>
        <mat-card-title> Your Online Library</mat-card-title>

         <p>Discover a curated collection of literary masterpieces at BookWorld, your ultimate online destination for exploring books across various genres. Whether you're a fan of classic literature, contemporary fiction, or thought-provoking non-fiction, our library offers something for everyone. Dive into timeless stories, explore new worlds, and enrich your mind with the wisdom of renowned authors. Each book in our collection is carefully selected to provide you with a diverse reading experience. Navigate through our resources, learn about the authors, and access downloadable content to take your reading journey with you wherever you go. At BookWorld, we believe in the power of books to inspire, educate, and entertain. Happy reading!</p>
         
      </mat-card-content>
    </mat-card>
  </div>
  <footer class="home-footer">
    <p>&copy; 2024 BookWorld-Heaven to booklovers. All rights reserved.</p>
  </footer>
</div>
