.home-background {
  background-image: url('https://t3.ftcdn.net/jpg/06/76/98/70/360_F_676987000_E2MmZqzNy39Ec9PSRW0k7IyOfGtj0IXX.jpg'); /* Path to your background image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; /* Prevent the image from repeating */
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; 
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: absolute;
}

.welcome-card {
  max-width: 600px;
  padding: 20px; /* Padding inside the card */
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.home-footer {
  text-align: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5); /* Dark semi-transparent background for the footer */
  color: #fff; /* White text color */
  position: absolute;
  bottom: 0;
  width: 100%;
}
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.welcome-card {
  max-width: 800px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
}

.mat-card-title {
  text-decoration: underline;
}

.mat-card-header {
  text-align: center; /* Center the header */
}

.mat-card-content {
  text-align: justify;
  font-size: 16px;
  line-height: 1.5;
}

.mat-card-content .mat-card-title {
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
}

